.footer {
  margin-top: auto;
  width: 100%;
  padding: 15px 30px;
  background: $main-color;
  text-align: center;
  @include flex(space-between, center);

  @media (max-width: 600px) {
    flex-direction: column;
    row-gap: 10px;
    padding: 15px 10px;
  }

  @media (max-width: 280px) {
    padding: 12px 10px;
  }

  .copyright {
    font-weight: 600;
    color: #fff;
    font-size: 17px;
  }
}
