// Variables
$font-size: 16px;
$font-family: "Poppins";
$main-padding: 40px;
$main-margin: 40px;
$border-radius: 10px;
$fast-transition: 0.2s;
$main-transition: 0.3s;
$medium-transition: 0.4s;
$slow-transition: 0.5s;
$main-shadow: 0 0 10px rgba(0,0,0,.3);
$alt-shadow: 0 0 10px rgba(0,0,0,.2);
$third-shadow: 0 0 10px rgba(0,0,0,.1);
$main-color:hsl(168, 100%, 25%);
$light-main-color:hsl(168, 100%, 30%);
$dark-main-color:hsl(168, 100%, 15%);
